.clipboard-button {
	position: absolute;
	right: 0;
	padding: 5px 7px 5px 7px;
	margin: 5px;
	color: #767676;
	border-color: #76767600;
	background-color: #ededed00;
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 1;
	transition: 0.1s;
	>svg {
		fill: #767676;
	}
	&:hover {
		cursor: pointer;
		border-color: #696969;
		background-color: #e0e0e036;
		>svg {
			fill: #696969;
		}
	}
	&:focus {
		outline: 0;
	}
}
.highlight {
	position: relative;
	&:hover {
		>.clipboard-button {
			opacity: 1;
			transition: 0.2s;
		}
	}
}
